
[submodule "ansible/roles/ansible-role-git"]
	path = ansible/roles/ansible-role-git
	url = https://github.com/geerlingguy/ansible-role-git.git
[submodule "ansible/roles/ansible-role-java"]
	path = ansible/roles/ansible-role-java
	url = https://github.com/geerlingguy/ansible-role-java.git
[submodule "ansible/roles/ansible-role-mysql"]
	path = ansible/roles/ansible-role-mysql
	url = https://github.com/geerlingguy/ansible-role-mysql.git
[submodule "ansible/JJG-Ansible-Windows"]
	path = ansible/JJG-Ansible-Windows
	url = https://github.com/geerlingguy/JJG-Ansible-Windows.git
[submodule "ansible/roles/ansible-automysqlbackup"]
	path = ansible/roles/ansible-automysqlbackup
	url = https://github.com/MaximeThoonsen/ansible-automysqlbackup-role.git
