
[submodule "ansible/roles/ansible-role-git"]
	path = ansible/roles/ansible-role-git
	url = https://github.com/geerlingguy/ansible-role-git.git
[submodule "ansible/roles/ansible-role-java"]
	path = ansible/roles/ansible-role-java
	url = https://github.com/geerlingguy/ansible-role-java.git
[submodule "ansible/roles/ansible-role-mysql"]
	path = ansible/roles/ansible-role-mysql
	url = https://github.com/geerlingguy/ansible-role-mysql.git
[submodule "ansible/roles/ansible-role-apache"]
	path = ansible/roles/ansible-role-apache
	url = https://github.com/geerlingguy/ansible-role-apache.git
[submodule "ansible/roles/ansible-role-s3-sync"]
	path = ansible/roles/ansible-role-s3-sync
	url = https://github.com/lsulibraries/ansible-role-s3-sync.git
[submodule "ansible/roles/ansible-role-rotate-backups"]
	path = ansible/roles/ansible-role-rotate-backups
	url = https://github.com/lsulibraries/ansible-role-rotate-backups.git
