#! /bin/bash
TIMESTMP=$(date +"%Y-%m-%d_%H-%M-%S")
{{ archivesspace_root }}/archivesspace/scripts/backup.sh --mysqldump --output {{ archivesspace_backup_dir }}/aspace-$TIMESTMP.zip
cp {{ archivesspace_backup_dir }}/aspace-$TIMESTMP.zip {{ archivesspace_backup_dir }}/aspace-latest.zip
