######################################
##                                  ##
## Replace the quoted values with   ##
## your correct values, and save    ##
## a copy of this file as           ##
## 'aws_secrets'.                   ##
##                                  ##
######################################

aws_access_key_id: 'secret--key-id...'
aws_secret_access_key: 'seecrettt key'
bucket: 'bucket-name'